.intro {
  height: 50vh;

  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", " Geneva, Verdana", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./laptop.png);
  background-position: center;
  background-size: cover;
  color: #fff;

  h1 {
    font-size: 3em;
  }
}
