.project-card {
  margin: 1rem;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", " Geneva, Verdana", sans-serif;

  .card-image {
    width: 25rem;
    height: 20rem;
    display: block;
    margin-bottom: 1rem;
  }
}

.projPicture {
  a {
    display: inline-block;
    margin-bottom: 0.75rem;
    background-color: #001a16;
    color: #fff;
    margin-right: 2em;
    padding: 0.6em;
    border-radius: 5px;

    &:hover {
      background-color: #004d41;
    }
  }
}

.projCardText {
  h3 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 2rem;
    max-width: 50ch;
  }

  ul {
    list-style: none;
  }
}

@media only screen and (max-width: 596px) {
  .card-image {
    width: 100% !important;
    height: auto !important;
  }
}

@media only screen and (min-width: 1535px) {
  .project-card {
    display: flex;
    gap: 2em;
  }
}
