
/* Computer form 1023px to 1200px*/
@media only screen and (max-width: 1210px) {

  section{
      padding: 60px 0;
  }
}

/* Ipad,portrait mode form 767px to 1023px*/
@media only screen and (max-width: 1023px) {

}
/*-----------------------------------------------------------*/

@media only screen and (max-width: 1147px) {



.projects-showcase{
  flex-direction: column;
  padding-left: 25%;
  padding-right: 15%;
}

.projects-showcase li{
  width: 75%;
  padding: 10px;
  margin: 10px;
}





}

/*-----------------------------------------------------------*/

/* Ipad, form 480px to 767px*/
@media only screen and (max-width: 767px) {

  body{
    font-size: 80%;
  }


}


@media only screen and (max-width: 500px){

  .sports-player-container {
    max-height: 800px;
    max-width: 100%;

  }
  .player-card {
    display: flex;
    flex-direction: column;
  }

  .project-photo img {
    width: 100%;
    height: 125px;
  }
}


@media only screen and (max-width: 450px) {

  .contact-info h1{
    font-size: 160%;
  }

  .contact-info h3{
    font-size: 85%;
  }

  .picture-box{
    padding: 0px;
  }

  .text-box{
    max-width: 44ch;
    line-height: 1.2;
    margin-left: 25%;
    margin-right: 25%;
  }

}



@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  section{
      padding: 40px 0;
  }

  .section-contact-me{
    margin-left: -80px;
    overflow: hidden;
  }


  .contact-info{
    font-size: 90%;
    padding-left: 30px;
  }
  .about-me-section{overflow: hidden;}

  .row{max-width: 450px;}
  header{
    background-position: center;
    background-attachment: scroll;
    background-size: 580px 500px;
    background-repeat: no-repeat;
    padding-bottom: 300px;

  }
  #main span{
  font-size: 90% !important;
}

@media screen and (max-width: 334px) {

  .about-me-section{
    padding-bottom: 50px;
  }
}
}
