.nav-templete {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", " Geneva, Verdana", sans-serif;
  font-size: 0.9rem;

  a {
    color: black;
    border: 1px solid black;
    padding: 1rem 4rem;
    margin-top: 2rem;
    margin-right: 1rem;
    width: 12rem;
    align-self: center;

    &:hover,
    &:focus {
      background-color: #dda741;
    }
  }
}
